.construction-container {
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2); /* Reduzido em tamanho */
}

h1 {
  font-size: 2.45vw;
  color: #ff5722;
}

p {
  font-size: 1.4vw;
  color: #333;
}

.construction-image {
  max-width: 100%;
  width: 38%;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.4vw);
  }
  60% {
    transform: translateY(-0.7vw);
  }
}

@media (max-width: 768px) {
  .construction-container {
    margin-top: 7%;
    padding: 7%;
  }

  h1 {
    font-size: 3.5vw;
  }

  p {
    font-size: 2.1vw;
  }

  .construction-image {
    width: 63%;
  }
}
