<div class="mb-4">
  <p-fieldset legend="{{ 'career.intro.title' | translate }}" styleClass="shadow-6">
    <div>
      <span>{{ 'career.intro.careerStart' | translate }}</span>
      <span>{{ 'career.intro.interpersonalSkills' | translate }}</span>
      <span>{{ 'career.intro.technologyStrength' | translate }}</span>
      <span><br>{{ 'career.intro.tracks' | translate }}</span>
    </div>
  </p-fieldset>
</div>
<p-card>
  <div *ngFor="let qualification of qualifications">
    <app-qualification-entry [qualification]="qualification"></app-qualification-entry>
  </div>
</p-card>

