<p-card styleClass="mr-8 ml-8 shadow-6">
  <div class="flex flex-column">
    <div class="flex align-items-center justify-content-start">
      <img src="favicon.ico" alt="Logo" class="favicon" />
      <a href="https://github.com/eduardocvaz" target="_blank">Eduardo Vaz</a>
    </div>
    <p-divider></p-divider>
    <div class="flex align-items-center justify-content-start">
      <img src="assets/images/icons/angular.png" alt="Logo" class="favicon" />
      <a href="https://angular.io/" target="_blank">Angular 16.2.0</a>
    </div>
    <p-divider></p-divider>
    <div class="flex align-items-center justify-content-start">
      <img src="assets/images/icons/primeng.png" alt="Logo" class="favicon" />
      <a href="https://primeng.org/" target="_blank">Primeng 16.4.1</a>
    </div>
    <p-divider></p-divider>
    <div class="flex align-items-center justify-content-start">
      <img src="assets/images/icons/ngx-translate.png" alt="Logo" class="favicon" />
      <a href="https://github.com/ngx-translate/core" target="_blank">Ngx-translate 15.0.0</a>
    </div>
    <p-divider></p-divider>
    <div class="flex align-items-center justify-content-start">
      <img src="assets/images/icons/fontawesome.png" alt="Logo" class="favicon" />
      <a href="https://fontawesome.com/" target="_blank">FortAwesome 6.4.2</a>
    </div>
  </div>
</p-card>
