<div>
  <p-fieldset legend="Tecnologias" styleClass="shadow-6">
    <div>
      <span>{{ 'technologies.intro.myJourney' | translate }}</span>
      <span>{{ 'technologies.intro.expertise' | translate }}</span>
      <span>{{ 'technologies.intro.keyAreas' | translate }}</span>
      <span>{{ 'technologies.intro.exploreButton' | translate }}</span>
    </div>
  </p-fieldset>
</div>
<div class="grid nested-grid mt-4">
  <div class="col-6">
    <p-card header="Programming and query languages" styleClass="h-full shadow-6">
      <div>
        <div class="flex-1 flex flex-row align-items-center justify-content-center">
          <img src="{{ baseUrl + '/assets/images/Technologies/Kotlin-logo.png'}}" alt="Kotlin" class="center-block">
          <img src="{{ baseUrl + '/assets/images/Technologies/java.png'}}" alt="Java" class="center-block">
          <img src="{{ baseUrl + '/assets/images/Technologies/typescript.png'}}" alt="Typescript" class="center-block">
        </div>
        <div>
          <ul>
            <li>Kotlin, JAVA, Python, C#, Dart, Ruby </li>
            <li>Typescript,  JavaScript, UNIX Sh</li>
            <li>SQL, NoSQL, Regex</li>
          </ul>
        </div>
      </div>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="Frameworks and Libraries" styleClass="h-full shadow-6">
      <div>
        <div class="flex-1 flex flex-row align-items-center justify-content-center">
          <img src="{{ baseUrl + '/assets/images/Technologies/AngularJS.png'}}" alt="AngularJS" class="center-block">
          <img src="{{ baseUrl + '/assets/images/Technologies/spring.png'}}" alt="Spring" class="center-block">
          <img src="{{ baseUrl + '/assets/images/Technologies/node.png'}}" alt="NodeJs" class="center-block">
        </div>
        <div>
          <ul>
            <li>React, Angular, Vue.js</li>
            <li>Node.js, Spring Framework, Ruby on Rails</li>
            <li>Flutter, Android Studio, Django</li>
          </ul>
        </div>
      </div>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="Programming Paradigms" styleClass="h-full shadow-6">
      <div>
        <div class="flex-1 flex flex-row align-items-center justify-content-center">
          <img src="{{ baseUrl + '/assets/images/Technologies/oop.png'}}" alt="OOP" class="center-block">
          <img src="{{ baseUrl + '/assets/images/Technologies/AOP.png'}}" alt="AOP" class="center-block">
          <img src="{{ baseUrl + '/assets/images/Technologies/FP.png'}}" alt="FP" class="center-block">
        </div>
        <div>
          <ul>
            <li>Object-Oriented Programming (OOP)</li>
            <li>Aspect-Oriented Programming (AOP)</li>
            <li>Functional Programming (FP)</li>
            <li>Logic Programming, Declarative Programming</li>
          </ul>
        </div>
      </div>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="Web Technologies" styleClass="h-full shadow-6">
      <div>
        <div class="flex-1 flex flex-row align-items-center justify-content-center">
          <img src="{{ baseUrl + '/assets/images/Technologies/html.png'}}" alt="Html" class="center-block-xl">
          <img src="{{ baseUrl + '/assets/images/Technologies/rest.jpg'}}" alt="Rest" class="center-block-xl">
          <img src="{{ baseUrl + '/assets/images/Technologies/graphql.png'}}" alt="Graphql" class="center-block-xl">
        </div>
        <div>
          <ul>
            <li>HTML5, CSS3, SCSS, JavaScript</li>
            <li>HTTP, REST, GraphQL</li>
            <li>JSON, XML, JWT</li>
          </ul>
        </div>
      </div>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="Databases" styleClass="h-full shadow-6">
      <div>
        <div class="flex-1 flex flex-row align-items-center justify-content-center">
          <img src="{{ baseUrl + '/assets/images/Technologies/postgresql.png'}}" alt="Postgresql" class="center-block-xl">
          <img src="{{ baseUrl + '/assets/images/Technologies/mongoDB.png'}}" alt="MongoDB" class="center-block-xl">
          <img src="{{ baseUrl + '/assets/images/Technologies/dynamoDB.png'}}" alt="DynamoDB" class="center-block-xl">
        </div>
        <div>
          <ul>
            <li>MySQL, PostgreSQL, MongoDB</li>
            <li>Oracle, SQLite, SQL Server</li>
            <li>Amazon DynamoDB, Firebase Database</li>
          </ul>
        </div>
      </div>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="DevOps" styleClass="h-full shadow-6">
      <div>
        <div class="flex-1 flex flex-row align-items-center justify-content-center">
          <img src="{{ baseUrl + '/assets/images/Technologies/kubernetes.png'}}" alt="Kubernetes" class="center-block-xl">
          <img src="{{ baseUrl + '/assets/images/Technologies/gitlab.png'}}" alt="GitLab" class="center-block-xl">
          <img src="{{ baseUrl + '/assets/images/Technologies/aws.png'}}" alt="AWS" class="center-block-xl">
        </div>
        <div>
          <ul>
            <li>Docker, Kubernetes, Jenkins</li>
            <li>Git, GitLab, GitHub</li>
            <li>Amazon Web Services, (CI/CD)</li>
          </ul>
        </div>
      </div>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
</div>
