<div>
  <p-fieldset legend="Tecnologias" styleClass="shadow-6">
    <div>
      <span>{{ 'technologies.intro.myJourney' | translate }}</span>
      <span>{{ 'technologies.intro.expertise' | translate }}</span>
      <span>{{ 'technologies.intro.keyAreas' | translate }}</span>
      <span>{{ 'technologies.intro.exploreButton' | translate }}</span>
    </div>
  </p-fieldset>
</div>
<div class="grid nested-grid mt-4">
  <div class="col-6">
    <p-card header="Programming and query languages" styleClass="h-full shadow-6">
      <ul>
        <li>Kotlin, JAVA, Python, C#, Dart, Ruby </li>
        <li>Typescript,  JavaScript, UNIX Sh</li>
        <li>SQL, NoSQL, Regex</li>
      </ul>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="Frameworks and Libraries" styleClass="h-full shadow-6">
      <ul>
        <li>React, Angular, Vue.js</li>
        <li>Node.js, Spring Framework, Ruby on Rails</li>
        <li>Flutter, Android Studio, Django</li>
      </ul>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="Programming Paradigms" styleClass="h-full shadow-6">
      <ul>
        <li>Object-Oriented Programming (OOP)</li>
        <li>Aspect-Oriented Programming (AOP)</li>
        <li>Functional Programming (FP)</li>
        <li>Logic Programming, Declarative Programming</li>
      </ul>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="Web Technologies" styleClass="h-full shadow-6">
      <ul>
        <li>HTML5, CSS3, JavaScript</li>
        <li>HTTP, REST, GraphQL</li>
        <li>JSON, XML, JWT</li>
      </ul>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="Databases" styleClass="h-full shadow-6">
      <ul>
        <li>MySQL, PostgreSQL, MongoDB</li>
        <li>Oracle, SQLite, SQL Server</li>
        <li>Amazon DynamoDB, Firebase Database</li>
      </ul>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="DevOps" styleClass="h-full shadow-6">
      <ul>
        <li>Docker, Kubernetes, Jenkins</li>
        <li>Git, GitLab, GitHub</li>
        <li>Amazon Web Services, (CI/CD)</li>
      </ul>
      <div class="button-right">
        <p-button label="Explore"></p-button>
      </div>
    </p-card>
  </div>
</div>
