<div class="full-screen">
  <div class="content">
    <p-splitter styleClass="mb-5 m-0 h-screen" layout="horizontal" [minSizes]="[8, 50]" [panelSizes]="[20, 80]" (onResizeStart)="sidenav.onResizeStart()" (onResizeEnd)="sidenav.onResizeEnd()">
      <ng-template pTemplate>
        <app-sidenav class="full-screen"></app-sidenav>
      </ng-template>
      <ng-template pTemplate>
          <app-topmenu class="w-full"></app-topmenu>

        <router-outlet></router-outlet>
      </ng-template>
    </p-splitter>
  </div>
</div>

