<div class="full-screen">
  <div class="content">
    <p-splitter styleClass="mb-5 m-0 h-screen" layout="horizontal" [minSizes]="[7, 70]" [panelSizes]="[20, 80]" (onResizeStart)="sidenav.onResizeStart()" (onResizeEnd)="sidenav.onResizeEnd()">
      <ng-template pTemplate>
        <app-sidenav class="full-screen"></app-sidenav>
      </ng-template>
      <ng-template pTemplate>
        <div class="vertical-container w-full">
          <div class="app-topmenu-fixed">
            <app-topmenu></app-topmenu>
          </div>
          <div class="router-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </ng-template>
    </p-splitter>
  </div>
</div>

