/*</router-outlet> Estilo para preencher a tela inteira */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.full-screen {
  height: 100%;
  width: 100%;
  display: flex;
}

/* Estilo para preencher o conteúdo e flexionar */
.content {
  flex: 1;
  overflow: hidden;
}

::ng-deep .p-splitter-gutter-handle {
  background-color: #afb3bd;
  height: 110px;
}

.vertical-container {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*height: 100vh; !* Define a altura para preencher a altura da tela inteira (viewport) *!*/
  overflow-y: scroll; /* Adiciona uma barra de rolagem vertical se o conteúdo estiver além da altura da tela */
  overflow-x: hidden; /* Desativa a barra de rolagem horizontal */
}

.router-content {
  /*flex-grow: 1; !* Isso permite que o router-outlet ocupe o espaço restante verticalmente *!*/
  /*overflow-x: auto; !* Adiciona uma barra de rolagem vertical se o conteúdo estiver além da altura da tela *!*/
  margin: 8vh 1vw; /* Adiciona um espaçamento ao redor do conteúdo */

}

.app-topmenu-fixed {
  position: fixed;
  right: 15px;
}


