<div class="flex container group">
  <div class="line flex-shrink-0"></div>
  <div class="cicle flex-shrink-0 shadow-2 group-hover transition"></div>
  <div class="entry flex flex-column w-full">
    <div>
      <div>
        <img alt="{{ qualification?.name }}" loading="lazy" height="50" decoding="async" src="{{ baseUrl + qualification?.imageURL}}">
      </div>
      <h3 class="mb-2">
        <span>{{ qualification?.name }}</span>
        <a class="meu-link-estilizado" *ngIf="!!qualification?.link && !!qualification?.linkName" href="{{ qualification?.link }}" target="_blank" rel="noopener noreferrer">
          {{ qualification?.linkName }}
          <i class="fa fa-external-link"></i>
        </a>
      </h3>
      <h4 class="m-1">
        <span>{{ qualification?.degree }}</span>
        <span>{{ qualification?.date }}</span>
      </h4>
    </div>
    <div>
      <h4 class="m-1">{{ 'qualification.summary' | translate }}</h4>
      <div class="flex flex-column w-9" *ngIf="showSummary">
        <div>
          <p class="m-1">{{ qualification?.summary }}</p>
        </div>
        <div class="flex flex-column align-items-end">
          <a href="javascript:void(0)" (click)="toggleFullView()">
            <i class="fa fa-expand fa-rotate-90"></i> <!-- Ícone de expansão -->
          </a>
        </div>
      </div>
      <div class="flex flex-column w-11" *ngIf="!showSummary">
        <div *ngFor="let paragraph of qualification?.fullContent">
          <p class="mb-0 mt-1">{{ paragraph }}</p>
        </div>
        <div *ngIf="!!qualification?.fullContentLi" >
          <ul>
            <li *ngFor="let li of qualification?.fullContentLi">
              <strong>{{ li[0] }}</strong>
              <p>{{ li[1] }}</p>
            </li>
          </ul>
        </div>
        <div class="flex flex-column align-items-end">
          <a href="javascript:void(0)" (click)="toggleFullView()">
            <i class="fa fa-compress fa-rotate-90"></i> <!-- Ícone de compressão -->
          </a>
        </div>
      </div>
    </div>
    <h5 class="m-1">
      <span><i class="fa fa-map-marker"></i> {{ qualification?.location }}</span>
    </h5>
  </div>
</div>
