<div class="flex flex-column">
  <div>
    <p-fieldset legend="{{ 'welcome.title' | translate }}" styleClass="shadow-6">
      <div id="welcome-section">
        <p>{{ 'welcome.intro' | translate }}</p>
        <p>{{ 'welcome.passion' | translate }}</p>
        <p>{{ 'welcome.pressure' | translate }}</p>
        <p>{{ 'welcome.excellence' | translate }}</p>
        <p>{{ 'welcome.motivation' | translate }}</p>
        <p>{{ 'welcome.explore' | translate }}</p>
        <p class="font-bold">{{ 'welcome.future' | translate }}</p>
      </div>
    </p-fieldset>
  </div>
  <div>
    <div class="flex flex-row">
      <div class="flex-1 m-2">
        <p-card header="{{ 'technologies.backend' | translate }}" styleClass="h-full shadow-6">
          <div class="flex flex-column ">
            <div class="flex-1 flex flex-row align-items-center justify-content-center">
              <img src="{{ baseUrl + '/assets/images/Technologies/Kotlin-logo.png'}}" alt="Kotlin" class="center-block">
              <img src="{{ baseUrl + '/assets/images/Technologies/spring.png'}}" alt="Spring" class="center-block">
              <img src="{{ baseUrl + '/assets/images/Technologies/node.png'}}" alt="NodeJs" class="center-block">
            </div>
            <ul class="flex-2">
              <li>Kotlin, Java, Typescript</li>
              <li>Spring Framework, Java EE, Node.js</li>
              <li>Restfull, GraphQL</li>
              <li>PostgreSQL, SQLite, MySQL</li>
            </ul>
          </div>
        </p-card>
      </div>
      <div class="flex-1 m-2">
        <p-card header="{{ 'technologies.mobile' | translate }}" styleClass="h-full shadow-6">
          <div class="flex flex-column ">
            <div class="flex-1 flex flex-row align-items-center justify-content-center" >
              <img src="{{ baseUrl + '/assets/images/Technologies/flutter-logo.jpg'}}" alt="React" class="center-block">
              <img src="{{ baseUrl + '/assets/images/Technologies/droid.png'}}" alt="Android" class="center-block">
            </div>
            <ul class="flex-2">
              <li>Kotlin, Java, Dart</li>
              <li>Android Studio, Flutter</li>
              <li>Android, iOS</li>
            </ul>
          </div>
        </p-card>
      </div>
      <div class="flex-1 m-2" styleClass="shadow-6">
        <p-card header="{{ 'technologies.frontend' | translate }}" styleClass="h-full shadow-6">
          <div class="flex flex-column ">
            <div class="flex-1 flex flex-row align-items-center justify-content-center">
              <img src="{{ baseUrl + '/assets/images/Technologies/AngularJS.png'}}" alt="Angular" class="center-block">
              <img src="{{ baseUrl + '/assets/images/Technologies/vue.png'}}" alt="VueJs" class="center-block">
            </div>
            <ul class="flex-2">
              <li>HTML, CSS, JavaScript</li>
              <li>React, Angular, Vue.js</li>
              <li>Webpack, Babel</li>
              <li>RESTful API, GraphQL</li>
            </ul>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
