<div class="sidebar w-full">
  <ul class="menu">
    <li routerLink="/home"><a><i class="fa fa-home"></i> <span class="menu-text" translate>menu.home</span></a></li>
    <li routerLink="/technologies"><a><i class="fa fa-code"></i> <span class="menu-text" translate>menu.technologies</span></a></li>
    <li routerLink="/services"><a><i class="fa fa-wrench"></i> <span class="menu-text" translate>menu.services</span></a></li>
    <li routerLink="/certifications"><a><i class="fa fa-certificate"></i> <span class="menu-text" translate>menu.certifications</span></a></li>
    <li routerLink="/portfolio"><a><i class="fa fa-briefcase"></i> <span class="menu-text" translate>menu.portfolio</span></a></li>
    <li routerLink="/blog"><a><i class="fa fa-edit"></i> <span class="menu-text" translate>menu.blog</span></a></li>
    <li routerLink="/testimonials"><a><i class="fa fa-comments"></i> <span class="menu-text" translate>menu.testimonials</span></a></li>
    <li routerLink="/achievements"><a><i class="fa fa-trophy"></i> <span class="menu-text" translate>menu.achievements</span></a></li>
  </ul>
</div>
