<div class="sidebar w-full">
  <ul class="menu">
    <li><a routerLink="/resume"><i class="pi pi-user"></i> <span class="menu-text">Resume Overview</span></a></li>
    <li><a routerLink="/home"><i class="pi pi-home"></i> <span class="menu-text">Home</span></a></li>
    <li><a routerLink="/certifications"><i class="pi pi-star"></i> <span class="menu-text">Certifications</span></a></li>
    <li><a routerLink="/technologies"><i class="pi pi-desktop"></i> <span class="menu-text">Technologies</span></a></li>
    <li><a routerLink="/members"><i class="pi pi-users"></i> <span class="menu-text">Members</span></a></li>
    <li><a routerLink="/achievements"><i class="pi pi-check"></i> <span class="menu-text">Achievements</span></a></li>
  </ul>
</div>
